# Question 1

## ╰mongoexport --uri "mongodb+srv://final:final@cluster0.9jsifuz.mongodb.net/" --collection trips --db divvy --out divvy_trips.json

In [3]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/38/1b/e425daceff79695e67d115230bdeb57bbdd6cfff8c46d532e4e64d3dc966/pandas-2.1.1-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.1.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy>=1.26.0 (from pandas)
  Obtaining dependency information for numpy>=1.26.0 from https://files.pythonhosted.org/packages/65/5a/87a862acf8aa3ef5896577db5baf29e56df0fdbda025fbb67fd5039794d1/numpy-1.26.1-cp312-cp312-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.26.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 899.3 kB/s eta 0:00:00 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/htetaungshine/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 3.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/htetaungshine/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.1-cp312-cp312-macosx_11_0_arm64.whl (10.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 1.4 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.1-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 1.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 1.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, numpy, pandas
  WARNING: The script f2py is installed in '/Library/Frameworks/Python.framework/Versions/3.12/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.26.1 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Replace 'file_path' with the actual full path to your JSON file
salesdf = pd.read_json('/Users/htetaungshine/Documents/GitHub/neatest/divvy_trips.json', lines=True)

In [11]:
salesdf

,_id,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,{'$oid': '650e5f74e1c6bc5ce3ba97cd'},17536818,2018-01-01 11:39:22,2018-01-01 11:43:56,3747,274.0,227,Southport Ave & Waveland Ave,165,Clark St & Grace St,Subscriber,Male,1991
1,{'$oid': '650e5f74e1c6bc5ce3ba9779'},17536718,2018-01-01 01:25:15,2018-01-01 01:36:32,6099,677.0,462,Winchester (Ravenswood) Ave & Balmoral Ave,238,Wolcott (Ravenswood) Ave & Montrose Ave (*),Subscriber,Male,1979
2,{'$oid': '650e5f74e1c6bc5ce3ba976e'},17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988
3,{'$oid': '650e5f74e1c6bc5ce3ba976f'},17536710,2018-01-01 01:07:12,2018-01-01 01:31:53,1920,"1,481.0",99,Lake Shore Dr & Ohio St,99,Lake Shore Dr & Ohio St,Customer,,
4,{'$oid': '650e5f74e1c6bc5ce3ba977e'},17536727,2018-01-01 01:59:38,2018-01-01 02:05:29,3883,351.0,76,Lake Shore Dr & Monroe St,49,Dearborn St & Monroe St,Subscriber,Male,1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...
796368,{'$oid': '650e68038a022ef55da496f6'},21463161,2018-11-08 17:13:20,2018-11-08 17:16:34,4109,194.0,133,Kingsbury St & Kinzie St,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989
796369,{'$oid': '650e68038a022ef55da49708'},21463182,2018-11-08 17:13:59,2018-11-08 17:48:19,3370,"2,060.0",654,Racine Ave & Washington Blvd (*),13,Wilton Ave & Diversey Pkwy,Subscriber,Male,1977
796370,{'$oid': '650e68038a022ef55da49711'},21463196,2018-11-08 17:14:35,2018-11-08 17:37:07,5349,"1,352.0",174,Canal St & Madison St,313,Lakeview Ave & Fullerton Pkwy,Subscriber,Male,1987
796371,{'$oid': '650e68038a022ef55da49539'},21462643,2018-11-08 16:51:47,2018-11-08 17:03:31,5191,704.0,47,State St & Kinzie St,191,Canal St & Monroe St (*),Subscriber,Male,1977
796372,{'$oid': '650e68038a022ef55da4953c'},21462645,2018-11-08 16:52:00,2018-11-08 16:55:51,1359,231.0,56,Desplaines St & Kinzie St,133,Kingsbury St & Kinzie St,Subscriber,Female,1957

In [8]:
print(salesdf)

                                         _id   trip_id          start_time  \
0       {'$oid': '650e5f74e1c6bc5ce3ba97cd'}  17536818 2018-01-01 11:39:22
1       {'$oid': '650e5f74e1c6bc5ce3ba9779'}  17536718 2018-01-01 01:25:15
2       {'$oid': '650e5f74e1c6bc5ce3ba976e'}  17536702 2018-01-01 00:12:00
3       {'$oid': '650e5f74e1c6bc5ce3ba976f'}  17536710 2018-01-01 01:07:12
4       {'$oid': '650e5f74e1c6bc5ce3ba977e'}  17536727 2018-01-01 01:59:38
...                                      ...       ...                 ...
796368  {'$oid': '650e68038a022ef55da496f6'}  21463161 2018-11-08 17:13:20
796369  {'$oid': '650e68038a022ef55da49708'}  21463182 2018-11-08 17:13:59
796370  {'$oid': '650e68038a022ef55da49711'}  21463196 2018-11-08 17:14:35
796371  {'$oid': '650e68038a022ef55da49539'}  21462643 2018-11-08 16:51:47
796372  {'$oid': '650e68038a022ef55da4953c'}  21462645 2018-11-08 16:52:00

                  end_time  bikeid tripduration  from_station_id  \
0      2018-01-01 11:43:56    3747        274.0              227
1      2018-01-01 01:36:32    6099        677.0              462
2      2018-01-01 00:17:23    3304        323.0               69
3      2018-01-01 01:31:53    1920      1,481.0               99
4      2018-01-01 02:05:29    3883        351.0               76
...                    ...     ...          ...              ...
796368 2018-11-08 17:16:34    4109        194.0              133
796369 2018-11-08 17:48:19    3370      2,060.0              654
796370 2018-11-08 17:37:07    5349      1,352.0              174
796371 2018-11-08 17:03:31    5191        704.0               47
796372 2018-11-08 16:55:51    1359        231.0               56

                                 from_station_name  to_station_id  \
0                     Southport Ave & Waveland Ave            165
1       Winchester (Ravenswood) Ave & Balmoral Ave            238
2                           Damen Ave & Pierce Ave            159
3                          Lake Shore Dr & Ohio St             99
4                        Lake Shore Dr & Monroe St             49
...                                            ...            ...
796368                    Kingsbury St & Kinzie St             84
796369            Racine Ave & Washington Blvd (*)             13
796370                       Canal St & Madison St            313
796371                        State St & Kinzie St            191
796372                   Desplaines St & Kinzie St            133

                                    to_station_name    usertype  gender  \
0                               Clark St & Grace St  Subscriber    Male
1       Wolcott (Ravenswood) Ave & Montrose Ave (*)  Subscriber    Male
2                         Claremont Ave & Hirsch St  Subscriber    Male
3                           Lake Shore Dr & Ohio St    Customer
4                           Dearborn St & Monroe St  Subscriber    Male
...                                             ...         ...     ...
796368                    Milwaukee Ave & Grand Ave  Subscriber    Male
796369                   Wilton Ave & Diversey Pkwy  Subscriber    Male
796370                Lakeview Ave & Fullerton Pkwy  Subscriber    Male
796371                     Canal St & Monroe St (*)  Subscriber    Male
796372                     Kingsbury St & Kinzie St  Subscriber  Female

       birthyear
0           1991
1           1979
2           1988
3
4           1983
...          ...
796368      1989
796369      1977
796370      1987
796371      1977
796372      1957

[796373 rows x 13 columns]

In [10]:
# Check for missing values in the dataset
missing_values = salesdf.isnull().sum()
print("Missing values in the dataset:")
print(missing_values)

Missing values in the dataset:
_id                  0
trip_id              0
start_time           0
end_time             0
bikeid               0
tripduration         0
from_station_id      0
from_station_name    0
to_station_id        0
to_station_name      0
usertype             0
gender               0
birthyear            0
dtype: int64

# Question 2

In [9]:
# Count the unique values in the 'from_station_id' and 'to_station_id' columns
unique_from_stations = salesdf['from_station_id'].nunique()
unique_to_stations = salesdf['to_station_id'].nunique()

# Calculate the total number of unique stations
total_unique_stations = unique_from_stations + unique_to_stations

print("Total number of stations in the dataset:", total_unique_stations)

Total number of stations in the dataset: 1228

# Question 3

In [25]:
salesdf[['from_station_name', 'to_station_name']]

,from_station_name,to_station_name
0,Southport Ave & Waveland Ave,Clark St & Grace St
1,Winchester (Ravenswood) Ave & Balmoral Ave,Wolcott (Ravenswood) Ave & Montrose Ave (*)
2,Damen Ave & Pierce Ave,Claremont Ave & Hirsch St
3,Lake Shore Dr & Ohio St,Lake Shore Dr & Ohio St
4,Lake Shore Dr & Monroe St,Dearborn St & Monroe St
...,...,...
796368,Kingsbury St & Kinzie St,Milwaukee Ave & Grand Ave
796369,Racine Ave & Washington Blvd (*),Wilton Ave & Diversey Pkwy
796370,Canal St & Madison St,Lakeview Ave & Fullerton Pkwy
796371,State St & Kinzie St,Canal St & Monroe St (*)
796372,Desplaines St & Kinzie St,Kingsbury St & Kinzie St

In [22]:
# Create a DataFrame with unique station IDs and their corresponding names
station_info = salesdf[['from_station_id', 'from_station_name']].drop_duplicates().reset_index(drop=True)

# Display all station IDs and names
print(station_info)

     from_station_id                           from_station_name
0                227                Southport Ave & Waveland Ave
1                462  Winchester (Ravenswood) Ave & Balmoral Ave
2                 69                      Damen Ave & Pierce Ave
3                 99                     Lake Shore Dr & Ohio St
4                 76                   Lake Shore Dr & Monroe St
..               ...                                         ...
612              537                     Kenton Ave & Madison St
613              662                      Dodge Ave & Mulford St
614              661                       Evanston Civic Center
615              663                 Lincolnwood Dr & Central St
616              565                       Ashland Ave & 66th St

[617 rows x 2 columns]

In [23]:
# Group the dataset by 'from_station_id' and count the number of trips from each station
station_trip_counts = salesdf['from_station_id'].value_counts()

# Sort the stations by trip count in descending order
station_trip_counts_sorted = station_trip_counts.sort_values(ascending=False)

# Retrieve the station with the most trips (the first station in the sorted series)
most_trips_station_id = station_trip_counts_sorted.index[0]
most_trips_count = station_trip_counts_sorted.iloc[0]

# Find the station name associated with the station ID
most_trips_station_name = salesdf[salesdf['from_station_id'] == most_trips_station_id]['from_station_name'].values[0]

print("Station with the most trips (starting station):")
print("Station ID:", most_trips_station_id)
print("Station Name:", most_trips_station_name)
print("Number of Trips:", most_trips_count)

Station with the most trips (starting station):
Station ID: 192
Station Name: Canal St & Adams St
Number of Trips: 16081

# Question 4